html {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.666);
}

h1,
h2,
h4 {
    color: white;
}

p {
    color: white;
}

#openVPNControls {
    text-align: center;
}

.download,
.delete {
    margin-left: 10px;
    height: 30px;
    display: inline;
}

.delete:hover,
.download:hover {
    cursor: pointer;
}